
.chatbot-container{
    .rsc-header{
        background-color: #120639;
    }

    .rsc-ts-bubble{
        background-color: #120639;
    }

    .iOCYje{
        background-color: white;
        color: 120639;
    }

    .kpNwfc{
        background-color: white;
        color: 120639; 
    }
}