@import "../../styles/constants/variables";

.room-results-container {
    font-family: $fontFamily;
    .banner-image {
        width: 100%;
        // background-image: url("testbanner.jpg");
        background-position: center center;
        background-size: cover;
        height: 192px;

        @media screen and (max-width: "525px") {
            display: none;
        }
    }
    .user-flow-div {
        height: 92px;
        width: 100%;
        background-color: #e4e4e4;
        display: flex;
        justify-content: center;
        align-items: center;

        .MuiSvgIcon-root {
            height: 30px;
            width: 30px;
            cursor: pointer;
        }
        .Mui-active {
            circle {
                fill: #d0182b;
            }
        }
        .Mui-completed {
            path {
                fill: #26266d;
            }
        }

        .MuiStepConnector-root {
            margin-top: 3px;
        }
        .MuiStepLabel-label {
            margin-top: 8px;
        }

        .user-flow-content {
            width: 50%;
            height: 60px;

            @media screen and (max-width: "525px") {
                width: 100%;
            }
            @media screen and (max-width: "795px") {
                width: 80%;
            }
        }
    }

    .room-results-filter-container {
        width: 100%;
        min-height: 900px;
        .room-results-sub-container {
            .mobile-filter-component {
                display: none;
                @media screen and (max-width: "1000px") {
                    display: block;
                }
                width: 100%;
                margin-top: 10px;
                .mobile-filter-button {
                    @media screen and (max-width: "500px") {
                        height: 55px;
                        padding: 10px;
                    }
                    width: 100%;
                    height: 50px;
                    font-size: 18px;
                    background-color: #eff0f1;
                    display: flex;
                    justify-content: space-between;
                    padding: 1rem;
                    align-items: center;
                    border: 1px solid #c1c2c2;
                }
                position: relative;

                .narrow-options {
                    width: 100%;
                    // position: absolute;
                    // z-index: 2;
                    .filter-options-container {
                        width: 100%;
                        .filter-name-drop-down {
                            width: 100%;
                            .filter-header {
                                width: 100%;
                                display: flex;
                                font-size: 16px;
                                justify-content: space-between;
                                padding: 1rem;
                                padding-bottom: 5px;
                                border: none;
                            }

                            .filter-options {
                                width: 100%;
                                background-color: #eff0f1;
                                

                                .option {
                                    width: 100%;
                                    display: flex;
                                    padding: 0.5rem;
                                    padding-left: 15px;
                                    .checkbox {
                                        margin-right: 5px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            width: 90%;
            margin: auto;
            height: 100%;
            .search-container {
                display: flex;
                width: 100%;
                justify-content: space-between;
                flex-wrap: wrap;
                .guests-rooms-container {
                    width: 100%;
                    margin-top: 1rem;
                    display: flex;
                    gap: 16px;
                    flex-wrap: wrap;

                    @media screen and (max-width: 1145px) {
                        flex-direction: column;
                        gap: 8px;
                    }

                    .guest-room-bed {
                        width: 50%;
                        display: flex;
                        gap: 16px;
                        @media screen and (max-width: 1145px) {
                            width: 100%;
                        }
                    }

                    .guests-container {
                        @media screen and (max-width: 1145px) {
                            width: 50%;
                        }
                        width: 50%;
                        .guests-tag-name {
                            line-height: 20px;
                        }
                        .guests-dropdown {
                            height: 68px;
                            border-radius: 4px;

                            @media screen and (max-width: "500px") {
                                height: 55px;
                                padding: 10px;
                            }
                            border: 1px solid #c1c2c2;
                            padding: 10px;
                            display: flex;
                            justify-content: space-between;
                            font-size: 16px;
                            color: black;
                            margin-top: 5px;
                            width: 100%;
                            background-color: white;
                            align-items: center;

                            .guestname-count {
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                align-items: flex-start;
                                .guests-tag-name {
                                    font-size: 14px;
                                    color: #858685;
                                    margin-bottom: 3px;
                                }
                            }
                        }

                        .guests-dropdown:hover {
                            cursor: pointer;
                            border: 1px solid #120639;
                        }

                        position: relative;

                        .guest-category-container::-webkit-scrollbar {
                            display: none;
                        }
                        .guest-category-container {
                            z-index: 3;
                            position: absolute;
                            width: 100%;
                            background-color: white;
                            border: 1px solid #c1c2c2;
                            overflow: scroll;
                            -ms-overflow-style: none; /* IE and Edge */
                            scrollbar-width: none;
                            .guest-category {
                                padding: 1rem;
                                font-size: 16px;
                                .category-name-count {
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;

                                    .category-name {
                                        width: 40%;
                                    }

                                    .category-count {
                                        display: flex;
                                        width: 35%;
                                        justify-content: space-evenly;
                                        align-items: center;
                                        .inc-dec-buttons {
                                            font-size: 18px;
                                            border: none;
                                            background-color: white;
                                        }
                                    }
                                }

                                .age-category {
                                    color: gray;
                                }
                            }
                        }
                    }

                    .rooms-container {
                        width: 23%;
                        @media screen and (max-width: 1145px) {
                            width: 24%;
                        }
                        .rooms-tag-name {
                            line-height: 20px;
                        }
                        .rooms-drop-down {
                            height: 68px;
                            border-radius: 4px;
                            @media screen and (max-width: "500px") {
                                height: 55px;
                                align-items: center;
                                padding: 10px;
                            }
                            border: 1px solid #c1c2c2;
                            padding: 10px;
                            display: flex;
                            justify-content: space-between;
                            font-size: 16px;
                            color: black;
                            margin-top: 5px;
                            width: 100%;
                            background-color: white;
                            align-items: center;

                            .rooms-name-placeholder {
                                height: 100%;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                align-items: flex-start;

                                .rooms-tag-name {
                                    font-size: 14px;
                                    color: #858685;
                                    margin-bottom: 3px;
                                }
                            }
                        }

                        .rooms-drop-down:hover {
                            cursor: pointer;
                            border: 1px solid #120639;
                        }

                        position: relative;
                        .rooms-options-container::-webkit-scrollbar {
                            display: none;
                        }
                        .rooms-options-container {
                            border: 1px solid #c1c2c2;
                            position: absolute;
                            width: 100%;
                            overflow: scroll;
                            -ms-overflow-style: none; /* IE and Edge */
                            scrollbar-width: none;
                            max-height: 150px;
                            background-color: white;
                            z-index: 2;

                            .rooms-option {
                                width: 100%;
                                border: none;
                                background-color: white;
                                text-align: left;
                                padding: 1rem;
                            }

                            .rooms-option:hover {
                                color: white;
                                background-color: #120639;
                            }
                        }
                    }
                    .beds-container {
                        width: 23%;
                        border-radius: 4px;
                        @media screen and (max-width: 1145px) {
                            width: 24%;
                        }
                        .beds-tag-name {
                            line-height: 20px;
                        }
                        .beds-drop-down {
                            border-radius: 4px;
                            @media screen and (max-width: "500px") {
                                height: 55px;
                                align-items: center;
                                padding: 10px;
                            }
                            height: 68px;
                            border: 1px solid #c1c2c2;
                            padding: 10px;
                            display: flex;
                            justify-content: space-between;
                            font-size: 16px;
                            color: black;
                            margin-top: 5px;
                            width: 100%;
                            background-color: white;
                            align-items: center;

                            .beds-name-placeholder {
                                height: 100%;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                align-items: flex-start;
                                .beds-tag-name {
                                    font-size: 14px;
                                    color: #858685;
                                    margin-bottom: 3px;
                                }
                            }
                        }

                        .beds-drop-down:hover {
                            cursor: pointer;
                            border: 1px solid #120639;
                        }

                        position: relative;
                        .beds-options-container::-webkit-scrollbar {
                            display: none;
                        }
                        .beds-options-container {
                            z-index: 2;
                            border: 1px solid #c1c2c2;
                            background-color: white;
                            position: absolute;
                            width: 100%;
                            overflow: scroll;
                            -ms-overflow-style: none; /* IE and Edge */
                            scrollbar-width: none;
                            max-height: 150px;

                            .beds-option {
                                width: 100%;
                                border: none;
                                background-color: white;
                                text-align: left;
                                padding: 1rem;
                            }

                            .beds-option:hover {
                                color: white;
                                background-color: #120639;
                            }
                        }
                    }

                    .date-search {
                        width: 48%;
                        display: flex;
                        gap: 16px;

                        @media screen and (max-width: 1145px) {
                            width: 100%;
                        }
                        @media screen and (max-width: 525px) {
                            flex-direction: column;
                        }
                    }

                    .dates-container {
                        width: 68%;
                        border-radius: 4px;
                        @media screen and (max-width: 525px) {
                            width: 100%;
                        }
                        .dates-drop-down {
                            border-radius: 4px;
                            @media screen and (max-width: "500px") {
                                height: 55px;
                                padding: 10px;
                            }
                            height: 68px;
                            border: 1px solid #c1c2c2;
                            padding: 10px;
                            display: flex;
                            justify-content: space-between;
                            font-size: 16px;
                            color: black;
                            margin-top: 5px;
                            width: 100%;
                            background-color: white;
                            align-items: center;

                            .check-in-between {
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;
                                .check-in-label {
                                    font-size: 14px;
                                    color: #858685;
                                    margin-bottom: 3px;
                                    line-height: 20px;
                                }
                            }

                            .check-out-between {
                                padding-left: 1rem;
                                border-left: 1px solid #c1c2c2;
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;

                                .check-out-label {
                                    font-size: 14px;
                                    color: #858685;
                                    margin-bottom: 3px;
                                    line-height: 20px;
                                }
                            }
                        }

                        .dates-drop-down:hover {
                            cursor: pointer;
                            border: 1px solid #120639;
                        }

                        .date-range-picker-calendar {
                            display: flex;
                            justify-content: flex-end;
                            z-index: 99990;
                        }
                    }

                    .search-container {
                        width: 33%;
                        border-radius: 4px;
                        @media screen and (max-width: 1145px) {
                            width: 30%;
                        }
                        @media screen and (max-width: 525px) {
                            width: 100%;
                            margin-top: 5px;
                        }
                        .room-search-button {
                            @media screen and (max-width: "500px") {
                                height: 55px;
                                padding: 10px;
                            }
                            height: 68px;
                            border-radius: 4px;
                            border: 1px solid #c1c2c2;
                            padding: 10px;
                            display: flex;
                            justify-content: center;
                            font-size: 18px;
                            margin-top: 5px;
                            width: 100%;
                            background-color: #26266d;
                            align-items: center;
                            color: white;
                            text-align: center;
                        }

                        .room-search-button:hover {
                            cursor: pointer;
                            border: 1px solid #c1c2c2;
                        }
                    }
                }
            }

            .filter-room-result {
                width: 100%;
                // min-height: 450px;
                margin-top: 25px;
                display: flex;
                justify-content: space-between;

                .rooms-iteanary-container {
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                }

                .room-results-header-content {
                    width: 78%;
                    @media screen and (max-width: "1000px") {
                        width: 100%;
                    }

                    .room-results-heading-container {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        @media screen and (max-width: "675px") {
                            flex-direction: column;
                            align-items: flex-start;
                        }

                        .room-results-heading {
                            font-size: 20px;
                            font-weight: 700;
                            @media screen and (max-width: "675px") {
                                margin-bottom: 5px;
                            }
                        }

                        .trip-iteanary-heading {
                            display: flex;
                            margin-bottom: 1rem;
                            font-size: 16px;
                            font-weight: 700;
                            width: 35%;
                            align-items: center;
                            justify-content: center;

                            .showing-results{
                                display: flex;
                                align-items: center;
                                margin-right: 10px;
                                button{
                                    background-color: white;
                                    border: none;
                                }
                            }

                            @media screen and (max-width: "1124px") {
                                width: 50%;
                            }
                            @media screen and (max-width: "650px") {
                                width: 100%;
                            }

                            .price-iteanary {
                                align-items: center;
                                display: flex;
                                width: 30%;
                                justify-content: space-between;
                                border: none;
                                border-left: 2px solid #c1c2c2;
                                padding-left: 1rem;
                                font-size: 16px;
                                background-color: white;
                                position: relative;

                                .price-options {
                                    position: absolute;
                                    width: 100%;
                                    top: 20px;
                                    background-color: white;
                                    text-align: left;
                                    z-index: 1;
                                    .option {
                                        border: 1px solid gray;
                                        padding: 5px;
                                        display: block;
                                        width: 100%;
                                        background-color: white;
                                        text-align: left;
                                        font-size: 16px;
                                    }

                                    .option:hover {
                                        background-color: #120639;
                                        color: white;
                                    }
                                }
                            }
                        }
                    }
                }

                .filter-container {
                    @media screen and (max-width: "1000px") {
                        display: none;
                    }
                    border-radius: 4px;
                    width: 20%;
                    height: 100%;
                    background-color: #eff0f1;
                    padding: 1rem;
                    .narrow-results {
                        font-size: 20px;
                        font-weight: 700;

                        
                    }

                    .filter-name-drop-down {
                        box-sizing: border-box;
                        margin-top: 20px;
                        font-size: 16px;
                        padding-bottom: 5px;
                        border-bottom: 1px solid #c1c2c2;
                        .filter-header {
                            display: flex;
                            justify-content: space-between;
                            width: 100%;
                            border: none;
                            font-size: 16px;
                        }
                        .filter-options {
                            .option {
                                display: flex;
                                padding: 0.5rem;
                                .checkbox {
                                    margin-right: 10px;
                                }
                            }
                        }
                    }
                }

                .room-results-container {
                    @media screen and (max-width: "1000px") {
                        width: 100%;
                        flex-grow: 1;
                    }
                    width: 68%;
                    .room-results-heading {
                        font-size: 20px;
                        font-weight: 700;
                        margin-bottom: 10px;
                    }
                    .room-results {
                        width: 100%;
                    }
                }

                .trip-iteanary-container {
                    width: 30%;
                    @media screen and (max-width: "1000px") {
                        display: none !important;
                    }

                    .trip-itenary {
                        margin-top: 1rem;
                        width: 100%;
                        background-color: #eff0f1;
                        padding: 1rem;
                        font-size: 16px;
                        .itenary-heading {
                            font-size: 20px;
                            font-weight: 700;
                        }

                        .hotelname-remove {
                            margin-top: 5px;
                            display: flex;
                            width: 100%;
                            justify-content: space-between;

                            .remove {
                                color: #006eff;
                                border: none;
                            }
                        }
                        .date-details {
                            margin-top: 10px;
                            margin-bottom: 10px;
                        }

                        .sub-container-1 {
                            .item {
                                display: flex;
                                width: 100%;
                                justify-content: space-between;
                                margin-top: 5px;
                            }
                            padding-bottom: 15px;

                            border-bottom: 1px solid #c1c2c2;
                        }

                        .sub-container-2 {
                            .item {
                                display: flex;
                                width: 100%;
                                justify-content: space-between;
                                margin-top: 5px;
                            }
                            padding-bottom: 15px;

                            border-bottom: 1px solid #c1c2c2;
                        }

                        .sub-container-3 {
                            .item {
                                display: flex;
                                width: 100%;
                                justify-content: space-between;
                                margin-top: 5px;
                            }
                            padding-bottom: 15px;

                            border-bottom: 1px solid #c1c2c2;
                        }

                        .checkout {
                            margin-top: 20px;
                            display: flex;
                            justify-content: center;
                            #checkout {
                                padding: 1rem;
                                border: 2px solid #120639;
                                color: #120639;
                            }
                        }
                    }
                }
            }
        }
    }
}
