@import "./constants/variables";

.footer {
  display: flex;
  font-size: $headingFontSize;
  font-family: $fontFamily;
  background-color: #120639;

  //new changes to be taken care
  // position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 10;
  color: white;
  padding: 0.5rem 0rem;
  justify-content: space-between;

  .footer-component {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    .title {
      display: flex;
      align-items: center;
      img {
        height: 25px;

        @media screen and (max-width: 450px) {
          display: none;
        }
      }
    }
    .properties {
      font-size: 16px;
      text-align: right;
      padding-bottom: 0;
      line-height: 170%;

      @media screen and (max-width: 450px) {
        width: 100%;
        padding-top: 10px;
        text-align: center;
        line-height: 140%;
      }
    }
  }
}